// App module.
.app {

}

.app form{
  padding: 20px 80px 0px;


}

.app form input[type=text] {
  width: 500px;
}

.app form input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
