// Todo module.
.todo {
  // cursor: pointer;
   border-bottom: 1px solid map-get($colors, lightgray);
   height: 50px;

  &--status-complete {
    text-decoration: line-through;
  }

  &--filtered {
    display: none;
  }
}

.todo span {
  cursor: pointer;
}

.todo .todo-link {
  width: 100%;
}
